:root {
  --color1: #d89584;
}
body {
  margin: 0;
  font-family: Arial;
  background-color: rgba(0, 0, 0, 0.356);
}
div.cover {
  background: url(cover_overlay.png) no-repeat center/100% 100%,
    url(cover.jpg) no-repeat center/cover;
  /* background-size: cover; */

  height: 360px;
}
img.cover-profile {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: 50px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 42px;
  margin-top: 8px;
  margin-bottom: 0px;
}
div.cover p {
  color: lightgrey;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}

div.cover-contact {
  position: absolute;
  top: 20px;
  left: 10px;
  border-left: 4px solid var(--color1);
  padding-left: 8px;
}

div.cover-contact a {
  display: block;
  margin-top: 0px;
  color: white;
  font-size: 14px;
}
div.cover-contact a:first-child {
  margin-bottom: 15px;
}
div.btn {
  text-align: center;
}
a.contact-button {
  color: var(--color1);
  border: 3px solid var(--color1);
  padding: 8px 20px;
  text-decoration: none;
  margin-top: 20px;

  display: inline-block;
  background-color: rgba(0, 0, 0, 0.322);
}
a.contact-button:hover {
  color: whitesmoke;
  border: 3px solid whitesmoke;
}
